<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complétez votre inscription</title>
</head>
<body>
    <h2>Complétez votre inscription</h2>
    <form action="/auth/complete-registration" method="POST">
        <input type="hidden" name="userId" id="userId">
        
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required>

        <label for="confirmPassword">Confirmez le mot de passe :</label>
        <input type="password" name="confirmPassword" required>

        <label for="phoneNumber">Numéro de téléphone :</label>
        <input type="text" name="phoneNumber" required>
        <label for="image">Photo de profil :</label>
        <input type="file" name="image">

        <button type="submit">Valider</button>
    </form>
</body>
</html>
